@font-face {
    font-family: "OpenSans";
    src: 
        url('../fonts/OpenSans-Regular.eot') format('eot'),
        url('../fonts/OpenSans-Regular.ttf') format('ttf'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2');
        
    font-weight: 400;
}
@font-face {
    font-family: "OpenSans";
    src: 
        url('../fonts/OpenSans-SemiBold.eot') format('eot'),
        url('../fonts/OpenSans-SemiBold.ttf') format('ttf'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
        
    font-weight: 600;
}
@font-face {
    font-family: "OpenSans";
    src: 
        url('../fonts/OpenSans-Bold.eot') format('eot'),
        url('../fonts/OpenSans-Bold.ttf') format('ttf'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2');
        
    font-weight: 700;
}
@font-face {
    font-family: "Gilroy";
    src: 
        url('../fonts/Gilroy-Regular.eot') format('eot'),
        url('../fonts/Gilroy-Regular.ttf') format('ttf'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2');
        
    font-weight: 400;
}
@font-face {
    font-family: "Gilroy";
    src: 
        url('../fonts/Gilroy-Regular_Italic.eot') format('eot'),
        url('../fonts/Gilroy-Regular_Italic.ttf') format('ttf'),
        url('../fonts/Gilroy-Regular_Italic.woff') format('woff'),
        url('../fonts/Gilroy-Regular_Italic.woff2') format('woff2');
        
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Gilroy";
    src: 
        url('../fonts/Gilroy-Medium.eot') format('eot'),
        url('../fonts/Gilroy-Medium.ttf') format('ttf'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2');
        
    font-weight: 500;
}