@charset "UTF-8";
/*Обнуление*/
@import "fonts.css";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html ::-webkit-scrollbar {
  width: 2px;
}
html ::-webkit-scrollbar-track {
  background-color: #E0E0E0;
}
html ::-webkit-scrollbar-thumb {
  background-color: #333333;
}

body {
  background-color: #fff;
  font-family: "OpenSans", sans-serif;
}
body a {
  color: inherit;
}

.body__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.wrapper {
  max-width: 1720px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: -37px;
  z-index: 1000;
}

.header-top {
  display: flex;
  background-color: #0C1111;
  height: 37px;
  transition: margin-bottom 0.3s ease;
}
.header-top__wrapper {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 12px;
}

.header-top-contacts {
  display: flex;
  align-items: center;
}

.header-location {
  display: flex;
  margin-right: 26px;
  width: 164px;
}
.header-location__img {
  margin-right: 10px;
}
.header-location__link {
  max-width: 116px;
  overflow: hidden;
  white-space: nowrap;
}

.animated-link {
  position: relative;
}
.animated-link::after {
  position: absolute;
  content: "";
  bottom: 0;
  display: block;
  height: 1px;
  left: 50%;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.animated-link:hover::after, .animated-link:focus::after {
  width: 100%;
  left: 0;
}

.header-shops {
  position: relative;
  max-width: 180px;
  white-space: nowrap;
  margin-right: 20px;
  overflow: hidden;
}
.header-shops::after {
  position: absolute;
  content: "";
  bottom: 0;
  display: block;
  height: 1px;
  left: 0;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
}

.header-phones {
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-top-info__btns {
  display: flex;
  gap: 4px;
}
.header-top-info__btn {
  padding: 0 8px;
  border-radius: 8px;
  transition: 0.3s ease;
  color: #fff;
}
.header-top-info__btn:hover, .header-top-info__btn:focus-within {
  background-color: #F2F2F2;
  color: #0C1111;
}
.header-top-info__link {
  line-height: 23px;
}

.header-top-navigation {
  margin-left: 28px;
}
.header-top-navigation__items {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-top-navigation__item a {
  transition: color 0.3s ease;
  color: #BDBDBD;
}
.header-top-navigation__item:hover a, .header-top-navigation__item:focus-within a {
  color: #fff;
}

.header-main {
  position: relative;
  display: flex;
  background-color: #fff;
  height: 60px;
  z-index: 99;
}
.header-main__wrapper {
  display: flex;
  align-items: center;
}
.header-main__logo {
  margin-right: 70px;
}
.header-main__logo svg {
  width: 100%;
}
.header-main__info-block {
  display: flex;
}
.header-main__info-list {
  display: flex;
  gap: 12px;
  margin: 0 16px;
}
.header-main__info-item {
  width: 42px;
  height: 40px;
  background-color: #F2F2F2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}
.header-main__info-link {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  display: block;
  border-radius: 0;
  transition: none;
  background: 0 0;
}
.header-main__info-link img {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
}
.header-main__info-link img.info-icon_default-state {
  transform: translateY(0);
  transition: transform 0.2s;
}
.header-main__info-link img.info-icon_hover-state {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  transform: translate(-50%, 42px);
  transition: transform 0.2s;
}
.header-main__info-link:hover .header-main__info-icon, .header-main__info-link:focus-within .header-main__info-icon {
  box-shadow: inset 0px 0px 0px 2px rgb(0, 0, 0);
  z-index: 60;
}
.header-main__info-link:hover .header-main__info-desc, .header-main__info-link:focus-within .header-main__info-desc {
  max-width: 200px;
  padding: 0 17px 0 47px;
  color: #fff !important;
  z-index: 50;
}
.header-main__info-link:hover img.info-icon_default-state, .header-main__info-link:focus-within img.info-icon_default-state {
  transform: translateY(-40px);
}
.header-main__info-link:hover img.info-icon_hover-state, .header-main__info-link:focus-within img.info-icon_hover-state {
  transform: translate(-50%, 12px);
}
.header-main__info-icon {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
  border-radius: 10px;
  justify-content: center;
  box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0);
  z-index: 30;
  transition: box-shadow 0.2s;
  overflow: hidden;
}
.header-main__info-desc {
  position: absolute;
  left: 1px;
  top: 0;
  bottom: 0;
  border-radius: 14px 10px 10px 14px;
  background: #333333;
  font-size: 12px;
  line-height: 40px;
  padding: 0;
  width: 500px;
  max-width: 36px;
  z-index: 20;
  white-space: nowrap;
  transition: max-width 0.2s, padding 0.2s, color 0.3s;
  overflow: hidden;
  text-align: right;
}
.header-main__account-container {
  position: relative;
  margin-right: 26px;
}
.header-main__account-container:hover, .header-main__account-container:focus-within {
  color: #fff;
}
.header-main__account-container:hover .header-main__account-icon::before, .header-main__account-container:focus-within .header-main__account-icon::before {
  animation: header-account-btn-animation 0.6s ease alternate forwards;
}
.header-main__account-btn {
  position: relative;
  background-color: #F2F2F2;
  height: 40px;
  max-width: 162px;
  border-radius: 20px;
  overflow: hidden;
}
.header-main__account-link {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
  z-index: 10;
}
.header-main__account-icon {
  display: flex;
  flex: 0 0 auto;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 100%;
  border: 1px solid #0c1111;
  background-color: #fff;
}
.header-main__account-icon::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: 19px;
  z-index: -1;
}
.header-main__account-text {
  font-size: 12px;
  font-weight: 600;
  padding: 0 25px 0 8px;
  z-index: 20;
  transition: 0.3s ease;
}
.header-main__account-menu {
  position: absolute;
  width: 162px;
  height: auto;
  left: 50%;
  top: 100%;
  transform: translateX(-81px);
  padding: 6px 6px 12px;
  background-color: #fff;
  font-size: 12px;
  color: #0C1111;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.header-main__account-menu::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 6px;
  top: -6px;
  left: 0;
}
.header-main__account-menu::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: -3px;
  left: 50%;
  background-color: #fff;
  border-radius: 100%;
}
.header-main__account-menu:not(.modal-close, .modal-open) {
  display: none;
}
.header-main__link-items {
  display: flex;
  padding-top: 4px;
  height: 40px;
  gap: 18px;
}
.header-main__link-item {
  position: relative;
  display: flex;
  height: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  transition: 0.3s ease;
}
.header-main__link-item_cart img {
  margin: 2px 0;
}
.header-main__link-item svg {
  width: 20px;
  height: 20px;
}
.header-main__link-item:hover .header-main__products-counter {
  background-color: #0C1111;
}
.header-main__products-counter {
  position: absolute;
  right: 0;
  top: -4px;
  width: auto;
  height: 15px;
  padding: 0 6px;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  background-color: #EA5455;
  border-radius: 7px;
  transition: all 0.3s ease;
}
.header-main__link-img {
  width: 20px;
  height: 20px;
  margin: auto 0;
  transition: 0.3s ease;
}
.header-main__link-img:hover svg {
  fill: #EA5455;
  stroke: #EA5455;
}
.header-main__link-title {
  line-height: 16px;
}
.header-main__search-btn_mobile {
  display: none;
  background-color: transparent;
  padding: 10px;
  margin: 0 4px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.burger-btn {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 40px;
  border-radius: 10px;
  margin-right: 24px;
  background-color: #0C1111;
  color: #fff;
}
.burger-btn__text {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
.burger-btn__icon {
  width: 32px;
  height: 2px;
  position: relative;
  margin: 0 8px 0 4px;
  transition: color 0.3s ease;
}
.burger-btn__icon::before, .burger-btn__icon::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  border-radius: 1px;
  background-color: #fff;
  transition: 0.5s;
}
.burger-btn__icon::before {
  top: 5px;
}
.burger-btn__icon::after {
  bottom: 5px;
}
.burger-btn__icon.close {
  background-color: transparent !important;
  top: -8px;
}
.burger-btn__icon.close::before, .burger-btn__icon.close::after {
  background-color: #EB5757;
  top: 8px !important;
}
.burger-btn__icon.close::after {
  transform: rotate(-225deg);
}
.burger-btn__icon.close::before {
  transform: rotate(225deg);
}
.burger-btn .burger-btn__icon:not(.close) ~ .animated-translate-link span {
  transform: translateY(0);
}
.burger-btn .burger-btn__icon:not(.close) ~ .animated-translate-link::before {
  transform: translateY(0);
}
.burger-btn:hover .animated-translate-link span, .burger-btn:focus-within .animated-translate-link span {
  transform: translateY(100%);
}
.burger-btn:hover .animated-translate-link::before, .burger-btn:focus-within .animated-translate-link::before {
  transform: translateY(100%);
}

.modal-close {
  display: none;
  transition: max-height 0.3s ease-out;
  animation: close-modal-animation 0.3s ease-in-out forwards;
}

.modal-open {
  transition: max-height 0.3s ease-out;
  animation: open-modal-animation 0.3s ease-in-out forwards;
}

.page-top-block__breadcrumbs {
  display: none;
}
.page-top-block__title-container {
  display: flex;
  padding: 16px 0 24px;
}
.page-top-block__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.breadcrumbs__item {
  transition: color 0.3s ease;
}
.breadcrumbs__item:focus {
  color: #EA5455;
}

@keyframes open-modal-animation {
  from {
    max-height: 0;
    visibility: hidden;
  }
  to {
    max-height: 100vh;
    visibility: visible;
  }
}
@keyframes close-modal-animation {
  from {
    display: block;
    max-height: 100vh;
    visibility: visible;
  }
  to {
    max-height: 0;
    visibility: hidden;
  }
}
@keyframes header-account-btn-animation {
  from {
    width: 100%;
    height: 100%;
  }
  20% {
    height: 40px;
    left: -5px;
  }
  70% {
    width: 400%;
    height: 40px;
    left: -5px;
  }
  to {
    width: 600%;
    height: 40px;
    left: -5px;
    background-color: #0C1111;
  }
}
@keyframes mobile-catalog-btn-animation {
  from {
    transform: translateX(0) scale(1);
  }
  15% {
    transform: translateX(0) scale(0.9);
  }
  30% {
    transform: translateX(-20px) scale(1);
  }
  70% {
    transform: translateX(20px);
  }
  to {
    transform: translateX(0);
  }
}
.search-block {
  position: relative;
  max-width: 660px;
  height: 40px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  background-color: #E0E0E0;
  border: 2px solid #E0E0E0;
  margin-right: auto;
  transition: 0.3s ease;
}
.search-block:hover, .search-block:target {
  background-color: #0C1111;
  border: 2px solid #0C1111;
}
.search-block:hover .search-block__btn-img, .search-block:target .search-block__btn-img {
  display: none;
}
.search-block:hover .search-block__btn-text, .search-block:target .search-block__btn-text {
  display: block;
}
.search-block.active {
  background-color: #0C1111;
  border: 2px solid #0C1111;
}
.search-block.active .search-block__btn-img {
  display: none;
}
.search-block.active .search-block__btn-text {
  display: block;
}
.search-block__input {
  flex: 1 1 auto;
  width: 757px;
  padding: 0 60px 0 26px;
  font-size: 14px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}
.search-block__btn {
  flex: 0 0 auto;
  width: 86px;
  background-color: transparent;
}
.search-block__btn_clear {
  display: none;
  position: absolute;
  right: 98px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #E0E0E0;
  transition: 0.3s ease;
}
.search-block__btn_clear.active {
  display: block;
}
.search-block__btn_clear::before, .search-block__btn_clear::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  border-radius: 50%;
  background-color: #333333;
  right: 4px;
}
.search-block__btn_clear::before {
  transform: rotate(45deg);
}
.search-block__btn_clear::after {
  transform: rotate(135deg);
}
.search-block__btn_clear:hover, .search-block__btn_clear:focus {
  background-color: #333333;
}
.search-block__btn_clear:hover::before, .search-block__btn_clear:hover::after, .search-block__btn_clear:focus::before, .search-block__btn_clear:focus::after {
  background-color: #fff;
}
.search-block__btn-text {
  color: #fff;
  display: none;
}
.search-block__btn-text_mobile {
  display: none;
}
.search-block__wrapper {
  position: relative;
}
.search-block__modal {
  position: absolute;
  left: 0;
  top: calc(100% + 6px);
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  color: #333333;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 100;
}
.search-block__modal:not(.modal-close, .modal-open) {
  display: none;
}
.search-block__results {
  overflow-y: auto;
  max-height: 80vh;
  padding-bottom: 75px;
  margin-right: 4px;
}
.search-block__results::-webkit-scrollbar {
  width: 2px;
}
.search-block__results::-webkit-scrollbar-track {
  background-color: #E0E0E0;
  width: 2px;
}
.search-block__results::-webkit-scrollbar-thumb {
  background-color: #999;
}
.search-block__show-more {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #F2F3F5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-block__show-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 274px;
  height: 48px;
  border-radius: 10px;
  color: #fff;
  background-color: #0C1111;
}
.search-block__show-more-btn:hover, .search-block__show-more-btn:focus {
  background-color: #27AE60;
  color: #fff;
}
.search-block__wrapper {
  flex: 1 1 auto;
  width: 400px;
  max-width: 660px;
  margin-right: auto;
}

.search-results__categories {
  padding: 32px 32px 0;
}
.search-results__title {
  font-size: 16px;
  font-weight: 700;
}
.search-results__category {
  height: 50px;
  border-bottom: 1px solid #E0E0E0;
}
.search-results__category-link {
  display: flex;
  align-items: center;
  height: 100%;
  transition: 0.3s ease;
}
.search-results__category-link:hover, .search-results__category-link:focus {
  color: #EB5757;
}
.search-results__category-img {
  margin-right: 12px;
}
.search-results__sections {
  padding: 32px 32px 0;
}
.search-results__products {
  padding-top: 32px;
}
.search-results__product {
  position: relative;
  height: 64px;
}
.search-results__product::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E0E0E0;
}
.search-results__product-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-right: 32px;
  transition: backgroud-color 0.3s ease;
}
.search-results__product-link:hover, .search-results__product-link:focus {
  background-color: #F2F2F2;
}
.search-results__product-img {
  flex: 0 0 auto;
  height: 42px;
  width: 42px;
  margin: 0 16px 0 32px;
  overflow: hidden;
}
.search-results__product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.search-results__product-description {
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto;
}
.search-results__product-price {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}

.info-icon_hover-state {
  display: none;
}

.account-menu__bonus {
  display: flex;
  align-items: center;
  padding: 0 7px;
  width: 100%;
  height: 36px;
  border-radius: 7px;
  background-color: #F2F3F5;
  overflow: hidden;
}
.account-menu__bonus-text {
  margin-left: 4px;
  white-space: nowrap;
}
.account-menu__bonus-value {
  font-weight: 600;
  margin-left: 4px;
}
.account-menu__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 14px;
  padding: 0 6px;
}
.account-menu__link {
  color: #333333;
  line-height: 16px;
  transition: 0.3s ease;
}
.account-menu__link:hover {
  color: #EB5757;
}

.animated-translate-link {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 19px;
  line-height: 19px;
}
.animated-translate-link:hover span, .animated-translate-link:focus span {
  transform: translateY(100%);
}
.animated-translate-link span {
  position: relative;
  transition: all 0.35s ease;
}
.animated-translate-link:hover::before, .animated-translate-link:focus::before {
  transform: translateY(100%);
}
.animated-translate-link::before {
  content: attr(data-title);
  position: absolute;
  bottom: 100%;
  left: 0;
  white-space: nowrap;
  transition: all 0.35s ease;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header-bot {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -32px;
  display: flex;
  background-color: #fff;
  height: 32px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
  z-index: 98;
  transition: bottom 0.3s ease;
}
.header-bot__wrapper {
  display: flex;
}
.header-bot__links {
  display: flex;
  gap: 26px;
}
.header-bot__links_wrap {
  display: flex;
  align-items: center;
}
.header-bot__link {
  color: #333333;
  font-weight: 600;
}
.header-bot__link_red {
  color: #EA5455;
}
.header-bot_hidden {
  bottom: 0;
  transition: bottom 0.3s ease;
}

.menu-modal {
  position: fixed;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100%;
  width: 100vw;
  background-color: #fff;
  z-index: 97;
}
.menu-modal:not(.modal-close, .modal-open) {
  display: none;
}

.menu-mobile {
  overflow: hidden;
}
.menu-mobile__location {
  position: sticky;
  display: flex;
  top: 0;
  background-color: #333333;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 28px 22px 22px;
  margin-bottom: 29px;
  z-index: 97;
}
.menu-mobile__location-city {
  position: relative;
  margin-left: 16px;
  margin-right: 8px;
}
.menu-mobile__location-city::after {
  position: absolute;
  content: "";
  bottom: 3px;
  width: 100%;
  height: 1px;
  left: 0;
  background-color: #fff;
}
.menu-mobile__tabs {
  position: relative;
  display: flex;
  width: auto;
  height: 41px;
  border: 2px solid #BDBDBD;
  border-radius: 20px;
  margin: 0 20px 32px;
  padding: 2px;
}
.menu-mobile__tabs-toggle {
  position: absolute;
  content: "";
  width: calc(50% - 2px);
  top: 0;
  height: calc(100% - 4px);
  margin: 2px 0;
  background-color: #333333;
  border-radius: 16px;
  transition: all 0.3s ease;
  z-index: 95;
}
.menu-mobile__tabs-item {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  border-radius: 15px;
  z-index: 96;
}
.menu-mobile__tabs-item_active {
  color: #fff;
}
.menu-mobile__sections-wrapper {
  display: flex;
  width: 200%;
  transition: transform 0.3s ease;
}
.menu-mobile__section {
  width: 100vw;
  overflow: hidden;
}
.catalog-mobile__items {
  height: auto;
  min-height: 1200px;
  position: relative;
  z-index: 97;
}
.catalog-mobile__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333333;
}
.catalog-mobile__item-img {
  height: 100%;
  width: 52px;
  padding: 2px;
  border-radius: 10px;
  margin-right: 18px;
  background-color: #f5f5f5;
}
.catalog-mobile__item-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-mobile__brands-slider {
  height: 38px;
  margin-bottom: 32px;
}
.menu-mobile__brands-slider-wrapper {
  padding-left: 20px;
}
.menu-mobile__brands-slider-side {
  height: 100%;
  width: 98px !important;
  filter: grayscale(1);
  margin-right: 8px;
}
.menu-mobile__brands-slider-link {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 9px;
  background-color: #F2F3F5;
  border-radius: 7px;
  overflow: hidden;
  box-sizing: border-box;
}
.menu-mobile__brands-slider-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.menu-mobile__brands-title {
  font-size: 24px;
  font-weight: 600;
}
.menu-mobile__brands-title_letter {
  font-weight: 700;
}
.menu-mobile__brands-letter-slider {
  margin: 26px 0 36px;
}
.menu-mobile__brands-letter-wrapper {
  padding-left: 20px;
}
.menu-mobile__brands-letter-slide {
  display: inline-block;
  width: 32px !important;
  line-height: 20px;
  text-align: center;
  border-radius: 16px;
  margin-right: 12px;
  background-color: #f2f3f5;
  color: #333;
  transition: 0.3s ease;
}
.menu-mobile__brands-letter-slide.active {
  background-color: #333333;
  color: #fff;
}
.menu-mobile__brands-items {
  margin-left: 20px;
}
.menu-mobile__brands-item {
  display: none;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #F2F3F5;
  padding-left: 12px;
}
.menu-mobile__brands-item_active {
  display: flex;
}
.menu-mobile__brands-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.catalog-mobile__btn-back {
  flex: 0 0 auto;
  width: 60px;
  height: 36px;
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px 20px auto auto;
}
.catalog-mobile__container {
  position: relative;
}
.catalog-mobile__navigation-window {
  position: absolute;
  left: 0;
  transform: translateX(100%);
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #fff;
  transition: transform 0.3s ease;
  transition-delay: 0.3s;
}
.catalog-mobile__navigation-window_active {
  transform: translateX(0);
}
.catalog-mobile__subcategories {
  padding-left: 20px;
  z-index: 100;
}
.catalog-mobile__subcategories_types {
  padding-left: 20px;
  z-index: 101;
}
.catalog-mobile__subcategories-head {
  display: flex;
  margin-bottom: 36px;
}
.catalog-mobile__subcategories-title, .catalog-mobile__type-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 45px;
  color: #333333;
}
.catalog-mobile__subcategories-item {
  display: flex;
  height: 50px;
  padding-right: 20px;
  align-items: center;
  border-bottom: 1px solid #F2F3F5;
}
.catalog-mobile__subcategories-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.catalog-mobile__subcategories-link {
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.menu-main {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.menu-main__caterories-wrapper {
  flex: 0 0 auto;
  width: 322px;
  padding-top: 32px;
  height: 100%;
  overflow-y: auto;
}
.menu-main__caterories-wrapper, .menu-main__subcategories-wrapper, .menu-main__brands-wrapper {
  padding-bottom: 36px;
}
.menu-main__caterories-wrapper::-webkit-scrollbar-track, .menu-main__subcategories-wrapper::-webkit-scrollbar-track, .menu-main__brands-wrapper::-webkit-scrollbar-track {
  margin-top: 36px;
}
.menu-main__subcategories-wrapper {
  flex: 1 1 auto;
  width: 500px;
  height: 100%;
  padding: 32px 36px 0;
  overflow-y: auto;
}
.menu-main__subcategories-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}
.menu-main__brands-wrapper {
  flex: 0 0 auto;
  width: 136px;
  height: 100%;
  padding-top: 52px;
  overflow-y: auto;
}
.menu-main__brands-list {
  margin: 0 8px;
}
.menu-main__brands-item {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #F2F3F5;
  margin-bottom: 26px;
}
.menu-main__brands-link {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.menu-main__brands-link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.menu-main__subcategories-section {
  display: none;
}
.menu-main__subcategories-section_active {
  display: block;
}

.catalog-main__items {
  padding-left: 6px;
  margin-left: -6px;
  margin-right: 36px;
}
.catalog-main__item {
  position: relative;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #f5f5f5;
}
.catalog-main__item:hover, .catalog-main__item:focus-within {
  color: #EA5455;
}
.catalog-main__item::after {
  position: absolute;
  content: "";
  height: 40px;
  top: calc((100% - 40px) / 2);
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}
.catalog-main__item:hover::after, .catalog-main__item:focus-within::after {
  width: calc(100% + 36px);
  height: calc(100% + 2px);
  top: -1px;
  left: 0;
  border-radius: 5px;
  background-color: #f5f5f5;
  z-index: -1;
}
.catalog-main__item_active {
  color: #EA5455;
}
.catalog-main__item_active::after {
  width: calc(100% + 36px);
  height: calc(100% + 2px);
  top: -1px;
  left: 0;
  border-radius: 5px;
  background-color: #f5f5f5;
  z-index: -1;
}
.catalog-main__link {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.catalog-main__item-img {
  width: 40px;
  height: 40px;
  border-radius: 7px;
  padding: 5px;
  margin: 0 20px 0 2px;
  background-color: #F2F3F5;
}
.catalog-main__item-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.subcategory {
  width: calc((100% - 200px) / 3);
  height: auto;
  margin-bottom: 16px;
}
.subcategory__link {
  display: flex;
  align-items: flex-end;
  height: 45px;
  padding: 2px 4px;
  border-bottom: 1px solid #f5f5f5;
  transition: all 0.3s ease;
}
.subcategory__link:hover, .subcategory__link:focus-within {
  color: #EA5455;
}
.subcategory__icon {
  flex: 0 0 auto;
  width: 52px;
  height: 40px;
}
.subcategory__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.subcategory__list-types {
  padding: 0 4px;
  margin-top: 8px;
}
.subcategory__types-title {
  line-height: 30px;
  color: #333333;
  transition: all 0.3s ease;
}
.subcategory__types-title:hover, .subcategory__types-title:focus-within {
  color: #EA5455;
}

.btn-back-animation {
  animation: mobile-catalog-btn-animation 0.3s ease forwards;
}

@media screen and (max-width: 600px) {
  .header-main {
    height: 44px;
  }
  .header-main__logo {
    width: 98px;
  }
  .header-main__search-btn_mobile img {
    height: auto !important;
  }
  .header-main__account-link_mobile img {
    height: auto !important;
  }
  .header-main__link-img {
    height: auto !important;
  }
  .search-block__modal {
    top: 44px;
  }
  .search-block__results {
    height: calc(100vh - 44px);
  }
  .burger-btn__icon::before {
    top: 7px;
  }
  .burger-btn__icon::after {
    bottom: 7px;
  }
}
@media screen and (max-width: 767px) {
  .header-main {
    background-color: #0C1111;
  }
  .header-main__logo {
    color: #fff;
  }
  .header-main__search-btn_mobile {
    display: block;
  }
  .header-main__search-btn_mobile img {
    height: 24px;
  }
  .header-main__account-link_mobile img {
    height: 24px;
  }
  .header-main__link-item_cart img {
    height: 24px;
  }
  .header-main__products-counter {
    display: none;
  }
  .page-top-block__title {
    font-size: 18px;
    line-height: 26px;
  }
  .search-block {
    max-width: 100vw;
    background-color: #0C1111;
    border: none;
  }
  .search-block:hover, .search-block:target {
    border: none;
  }
  .search-block__btn-text {
    display: block;
  }
  .search-block__btn-img {
    display: none;
  }
  .search-block.active {
    border: none;
  }
  .search-block.active .search-block__btn-img {
    display: none;
  }
  .search-block.active .search-block__btn-text {
    display: block;
  }
  .search-block__modal {
    position: fixed;
    width: 100vw;
    top: 60px;
    box-shadow: none;
    border-radius: 0;
  }
  .search-block__results {
    height: calc(100vh - 60px);
    max-height: 100vh;
  }
  .search-block__wrapper {
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    width: 100vw;
    max-width: 100vw;
    z-index: 100;
    padding: 10px 20px;
    background-color: #0c1111;
  }
  .burger-btn {
    max-width: 40px;
    order: -1;
  }
  .burger-btn__icon {
    height: 2px;
    width: 32px;
    border-radius: 1px;
  }
  .burger-btn__icon::before, .burger-btn__icon::after {
    height: 2px;
  }
  .burger-btn__icon::before {
    top: 7px;
  }
  .burger-btn__icon::after {
    bottom: 7px;
  }
}
@media screen and (min-width: 768px) {
  .header-main__search-btn_mobile img {
    height: 24px;
  }
  .burger-btn__icon {
    width: 26px;
    height: 2px;
  }
  .burger-btn__icon::before {
    top: 8px;
  }
  .burger-btn__icon::after {
    bottom: 8px;
  }
}
@media screen and (max-width: 992px) {
  .burger-btn {
    width: 48px;
  }
  .burger-btn__icon {
    background-color: #fff;
    margin: 0;
  }
  .burger-btn__text {
    display: none;
  }
  .header-main__wrapper {
    padding: 0 10px;
  }
  .header-main__wrapper:first-child {
    margin-left: 10px;
  }
  .header-main__account-container {
    order: 1;
    margin-right: 0;
  }
  .header-main__account-link {
    display: none;
  }
  .header-main__account-link_mobile {
    padding: 0 10px;
  }
  .header-main__account-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  .header-main__link-item {
    flex-direction: unset;
  }
  .header-main__link-item_orders {
    display: none;
  }
  .header-main__link-item_cart a {
    padding: 0 10px;
  }
  .header-main__link-item_cart #cart-quantity {
    top: 0;
    right: -4px;
  }
  .header-main__link-img {
    width: auto;
    height: auto;
    margin: 0;
  }
  .header-main__link-items {
    margin: 0 16px;
    padding-top: 0;
  }
  .header-main__link-title {
    display: none;
  }
  .header-main__info-block {
    display: none;
  }
  .header-main__account-menu {
    display: none;
  }
  .menu-main {
    display: none;
  }
}
@media screen and (min-width: 993px) {
  .burger-btn__icon {
    width: 16px;
    height: 16px;
  }
  .burger-btn__icon::after {
    bottom: 2px;
  }
  .burger-btn__icon::before {
    top: 5px;
  }
  .burger-btn__icon.close {
    top: 0px;
  }
  .header-main__link-item_mobile {
    display: none;
  }
  .menu-mobile {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .header {
    top: 0;
  }
  .header-top, .header-bot {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header-main__link-item:hover, .header-main__link-item:focus {
    color: #EA5455;
  }
  .header-main__link-item:hover img, .header-main__link-item:focus img {
    filter: invert(20%) sepia(70%) saturate(4000%) hue-rotate(360deg) brightness(90%) contrast(100%);
  }
  .header-main__account-link_mobile {
    display: none;
  }
  .page-top-block {
    padding-top: 32px;
  }
  .page-top-block__title-container {
    display: flex;
    padding: 40px 0 56px;
  }
  .page-top-block__breadcrumbs {
    display: block;
    margin-top: 24px;
  }
}
@media screen and (max-width: 1180px) {
  .header-main__logo {
    max-width: 154px;
  }
  .menu-main__brands-wrapper {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .header-main__link-item_compare, .header-main__link-item_favorites {
    display: none;
  }
  .header-main__info-item {
    display: none;
  }
  .header-top-info__btns {
    display: none;
  }
  .subcategory {
    width: calc((100% - 72px - 20px) / 3);
  }
}
@media screen and (max-width: 1364px) {
  .header-shops {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  .header-main__logo {
    margin-right: 24px;
  }
  .subcategory {
    width: calc((100% - 100px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .menu-main__subcategories-wrapper {
    padding-left: 26px;
    padding-right: 50px;
  }
}/*# sourceMappingURL=new-design.css.map */