@import "nullstyle.scss";
@import "fonts.css";


$white: #fff;
$trueBlack: #000000;
$black: #0C1111;
$dark: #333333;
$border: #E0E0E0;
$grey1: #BDBDBD;
$grey2: #828282;
$grey3: #F2F3F5;
$grey4: #F2F2F2;
$grey5: #f5f5f5;
$red: #EA5455;
$red1: #EB5757;
$acidGreen: #CF3;
$green: #27AE60;
$orange: #FF8C00;
$violet: #90F;
html{
    ::-webkit-scrollbar {
        width: 2px;
    }

    ::-webkit-scrollbar-track {
        background-color: $border;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $dark;
    }
}
body{
    background-color: $white;
    font-family: "OpenSans",sans-serif;
    & a{
        color: inherit;
    }

    
}
.body{
    &__wrapper{
        min-height: 100vh;
	    display: flex;
	    flex-direction: column;
	    margin: 0 auto;
    }
}
.no-scroll{
    overflow: hidden;
}
main{
    flex: 1 1 auto;
}

.wrapper{
    max-width: 1720px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.header {
    position: sticky;
    top: -37px;
    z-index: 1000;
}
.header-top {
    display: flex;
    background-color: $black;
    height: 37px;
    transition: margin-bottom .3s ease;
		// .header-top__wrapper

		&__wrapper {
            display: flex;
            align-items: center;
            color: $white;
            font-size: 12px;
		}
    
}
.header-top-contacts {
    display: flex;
    align-items: center;
}
.header-location {
    display: flex;
    margin-right: 26px;
    width: 164px;
    &__img{
        margin-right: 10px;
    }
    &__link{
        max-width: 116px;
        overflow: hidden;
        white-space: nowrap;
    }
}
.animated-link {
    position: relative;
    &::after{
        position: absolute;
        content: "";
        bottom: 0;
        display: block;
        height: 1px;
        left: 50%;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    &:hover::after, &:focus::after{
        width: 100%;
        left: 0;
    }
}
.header-shops {
    position: relative;
    max-width: 180px;
    white-space: nowrap;
    margin-right: 20px;
    overflow: hidden;
    &::after{
        position: absolute;
        content: "";
        bottom: 0;
        display: block;
        height: 1px;
        left: 0;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 100%;
    }
}
.header-phones {
    display: flex;
    gap: 20px;
    font-size: 14px;
    font-weight: 700;
    color: $white;
}
.right {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header-top-info {

		// .header-top-info__btns

		&__btns {
            display: flex;
            gap: 4px;
		}

		// .header-top-info__btn

		&__btn {
            padding: 0 8px;
            border-radius: 8px;
            transition: .3s ease;
            color: $white;
            &:hover, &:focus-within{
                background-color: $grey4;
                color: $black;
            }
		}

		// .header-top-info__link

		&__link {
            line-height: 23px;
		}
}
.header-top-navigation {
        margin-left: 28px;
		// .header-top-navigation__items

		&__items {
            display: flex;
            align-items: center;
            gap: 16px;
		}

		// .header-top-navigation__item

		&__item {
            & a{
                transition: color .3s ease;
                color: $grey1;
            }
            &:hover a, &:focus-within a {
                color: $white;
            }
		}
}
.header-main {
    position: relative;
    display: flex;
    background-color: $white;
    height: 60px;
    z-index: 99;

		// .header-main__wrapper

		&__wrapper {
            display: flex;
            align-items: center;
		}

		// .header-main__logo

		&__logo {
            margin-right: 70px;
            & svg{
                width: 100%;
            }
		}

		// .header-main__info-block

		&__info-block {
            display: flex;
		}

		// .header-main__info-list

		&__info-list {
            display: flex;
            gap: 12px;
            margin: 0 16px;
		}

		// .header-main__info-item

		&__info-item {
            width: 42px;
            height: 40px;
            background-color: #F2F2F2;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity .3s ease;
		}

		// .header-main__info-link

		&__info-link {
            position: relative;
            width:40px;
            height: 40px;
            padding: 0;
            display: block;
            border-radius: 0;
            transition: none;
            background: 0 0;
            & img {
                display: block;
                width: auto;
                height: auto;
                margin: 0;
            }
            & img.info-icon_default-state {
                transform: translateY(0);
                transition: transform 0.2s;
            }
            & img.info-icon_hover-state {
                position: absolute;
                top:0;
                left:50%;
                right:0;
                transform: translate(-50%, 42px);
                transition: transform 0.2s;
            }
            &:hover .header-main__info-icon, &:focus-within .header-main__info-icon{
                box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,1);
                z-index: 60;
            }
            &:hover .header-main__info-desc, &:focus-within .header-main__info-desc{
                max-width: 200px;
                padding: 0 17px 0 47px;
                color: #fff !important;
                z-index: 50;
            }
            &:hover img.info-icon_default-state, &:focus-within img.info-icon_default-state{
                transform: translateY(-40px);
            }
            &:hover img.info-icon_hover-state, &:focus-within img.info-icon_hover-state{
                transform: translate(-50%, 12px);
            }
		}

		// .header-main__info-icon

		&__info-icon {
            position: absolute;
            width:auto;
            height: auto;
            top:0;
            left:0;
            right:0;
            bottom:0;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #F2F2F2;
            border-radius: 10px;
            justify-content: center;
            box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0);
            z-index: 30;
            transition: box-shadow 0.2s;
            overflow: hidden;
		}

		// .header-main__info-desc

		&__info-desc {
            position: absolute;
            left:1px;
            top:0;
            bottom:0;
            border-radius: 14px 10px 10px 14px;
            background: #333333;
            font-size: 12px;
            line-height: 40px;
            padding: 0;
            width: 500px;
            max-width: 36px;
            z-index: 20;
            white-space: nowrap;
            transition: max-width 0.2s, padding 0.2s, color 0.3s;
            overflow: hidden;
            text-align: right;
		}


		// .header-main__account-container

		&__account-container {
            position: relative;
            margin-right: 26px;

            &:hover , &:focus-within{
                color: $white;
            }
            &:hover .header-main__account-icon::before, &:focus-within .header-main__account-icon::before{
                animation: header-account-btn-animation .6s ease alternate forwards;
            }
            
		}
		// .header-main__account-btn

		&__account-btn {
            position: relative;
            background-color: #F2F2F2;
            height: 40px;
            max-width: 162px;
            border-radius: 20px;
            overflow: hidden;
            
		}

		// .header-main__account-link

		&__account-link {
            display: flex;
            position: relative;
            align-items: center;
            height: 100%;
            z-index: 10;
		}

		// .header-main__account-icon
        
		&__account-icon {
            display: flex;
            flex: 0 0 auto;
            position: relative;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            margin-left: 5px;
            border-radius: 100%;
            border: 1px solid #0c1111;
            background-color: $white;
                &::before{
	                position: absolute;
	                content: "";
	                width: 100%;
	                height: 100%;
	                left: 0;
	                border-radius: 19px;
	                z-index: -1;
                    
                }
		}

		// .header-main__account-text

		&__account-text {
            font-size: 12px;
            font-weight: 600;
            padding: 0 25px 0 8px;
            z-index: 20;
            transition: .3s ease;
		}

		// .header-main__account-menu

		&__account-menu {
            position: absolute;
            width: 162px;
            height: auto;
            left: 50%;
            // top: calc(100% + 6px);
            top: 100%;
            transform: translateX(-81px);
            padding: 6px 6px 12px;
            background-color: $white;
            font-size: 12px;
            color: $black;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 6px;
                top: -6px;
                left: 0;
            }
            &::after{
                position: absolute;
                content: "";
                width: 6px;
                height: 6px;
                top: -3px;
                left: 50%;
                background-color: #fff;
                border-radius: 100%;
            }
            &:not(.modal-close, .modal-open) {
                display: none;
            }
		}

		// .header-main__link-items

		&__link-items {
            display: flex;
            padding-top: 4px;
            height: 40px;
            gap: 18px;
		}
		// .header-main__link-item

		&__link-item {
            position: relative;
            display: flex;
            height: 40px;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            font-size: 12px;
            transition: .3s ease;
            &_cart img{
                margin: 2px 0;
            }
            
            & svg{
                width: 20px;
                height: 20px;
            }
            
            &:hover  .header-main__products-counter{
                background-color: $black;
            }
		}

        // .header-main____products-counter

        &__products-counter{
            position: absolute;
            right: 0;
            top: -4px;
            width: auto;
            height: 15px;
            padding: 0 6px;
            color: $white;
            font-size: 13px;
            line-height: 15px;
            background-color: $red;
            border-radius: 7px;
            transition: all .3s ease;

        } 

		// .header-main__link-img

		&__link-img {
            width: 20px;
            height: 20px;
            margin: auto 0;
            transition: .3s ease;
            &:hover svg{
                fill: $red;
                stroke: $red;
            }
		}

		// .header-main__link-title

		&__link-title {
            line-height: 16px;
		}
        &__search-btn{
            &_mobile{
                display: none;
                background-color: transparent;
                padding: 10px;
                margin: 0 4px;
            }
        }
}
.hidden{
    opacity: 0;
    visibility: hidden;
}
.burger-btn {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 40px;
    border-radius: 10px;    
    margin-right: 24px;
    background-color: $black;
    color: $white;
		// .burger-btn__text

        &__text{
            font-size: 14px;
            font-weight: 700;
            color: $white;
        }
        &__icon{
            width: 32px;
            height: 2px;
            position: relative;
            margin: 0 8px 0 4px;
            transition: color .3s ease;
            &::before, &::after{
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                left: 0;
                border-radius: 1px;
                background-color: $white;
                transition: 0.5s;
            }
            &::before{
                top: 5px;
            }
            &::after{
                bottom: 5px;
            }
            
            &.close{
                background-color: transparent !important;
                top: -8px;
                &::before, &::after{
                    background-color: $red1;
                    top: 8px !important;
                }
                &::after {
                    transform: rotate(-225deg);
                }
                &::before {
                    transform: rotate(225deg);
                }
            }
        }
        & .burger-btn__icon:not(.close) ~ .animated-translate-link{
            & span {
                transform: translateY(0);
            }
    
            &::before {
                transform: translateY(0);
            }
        }
        &:hover .animated-translate-link , &:focus-within .animated-translate-link {
            & span {
                transform: translateY(100%);
            }

            &::before {
                transform: translateY(100%);
            }
        }
}
.modal-close{
    display: none;
    transition: max-height .3s ease-out;
    animation: close-modal-animation .3s ease-in-out forwards;
}
.modal-open{
    transition: max-height .3s ease-out;
    animation: open-modal-animation .3s ease-in-out forwards;
}
.page-top-block {

    // .page-top-block__breadcrumbs

    &__breadcrumbs {
        display: none;
    }

    // .page-top-block__title-container

    &__title-container {
        display: flex;
        padding: 16px 0 24px;
    }

    // .page-top-block__title

    &__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
    }
}
.breadcrumbs {
    // .breadcrumbs__item

    &__item {
        transition: color .3s ease;
        &:focus{
            color: $red;
        }
    }
}

@keyframes open-modal-animation{
    from{
        max-height: 0;
        // opacity: 0;
        visibility: hidden;
    }
    to{
        max-height: 100vh;
        // opacity: 1;
        visibility: visible;
    }
}
@keyframes close-modal-animation{
    from{
        display: block;
        max-height: 100vh;
        // opacity: 1;
        visibility: visible;
    }
    to{
        max-height: 0;
        // opacity: 0;
        visibility: hidden;
    }
}
@keyframes header-account-btn-animation {
    from{
        width: 100%;
        height: 100%;
    }
    20%{
        height: 40px;
        left: -5px;
    }
    70%{
        width: 400%;
        height: 40px;
        left: -5px;
    }
    to{
        width: 600%;
        height: 40px;
        left: -5px;
        background-color: #0C1111;
    }
}
@keyframes mobile-catalog-btn-animation {
    from{
        transform: translateX(0) scale(1);
    }
    15%{
        transform: translateX(0) scale(0.9);
    }
    30%{
        transform: translateX(-20px) scale(1);
    }
    70%{
        transform: translateX(20px);
    }
    to{
        transform: translateX(0);
    }
}
.search-block {
    position: relative;
    max-width: 660px;
    height: 40px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background-color: $border;
    border: 2px solid $border;
    margin-right: auto;
    transition: .3s ease;
        &:hover, &:target{
            background-color: $black;
            border: 2px solid $black;    
        }
        &:hover &__btn-img, &:target &__btn-img{
            display: none;
        }
        &:hover &__btn-text, &:target &__btn-text{
            display: block;
        }
        &.active{
            background-color: $black;
            border: 2px solid $black; 
            & .search-block__btn-img{
                display: none;
            }
            & .search-block__btn-text{
                display: block;
            }
        }

    //.search-block__input
    &__input{
        flex: 1 1 auto;
        width: 757px;
        padding: 0 60px 0 26px;
        font-size: 14px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
        
    }
    //.search-block__btn
    &__btn{
        flex: 0 0 auto;
        width: 86px;
        background-color: transparent;
        &_clear{
            display: none;
            position: absolute;
            right: 98px;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 18px;
            border-radius: 100%;
            background-color: $border;
            transition: .3s ease;
            &.active{
                display: block;
            }
            &::before, &::after{
                position: absolute;
                content: "";
                width: 10px;
                height: 1px;
                border-radius: 50%;
                background-color: $dark;
                right: 4px;

                
            }
            &::before{
                transform: rotate(45deg);
            }
            &::after{
                transform: rotate(135deg);
            }
            &:hover, &:focus{
                background-color: $dark;
            }
            &:hover::before, &:hover::after, &:focus::before, &:focus::after{
                background-color: $white;
            }
        }
    }
    //.search-block__btn-img
    &__btn-img{

    }
    //.search-block__btn-text
    &__btn-text{
        color: $white;
        display: none;
        &_mobile{
            display: none;
        }
    }


    // .search-block__wrapper

    &__wrapper {
        position: relative;
    }

    // .search-block__modal

    &__modal {
        position: absolute;
        left: 0;
        top: calc(100% + 6px);
        width: 100%;
        border-radius: 10px;
        background-color: $white;
        color: $dark;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        z-index: 100;
        
        &:not(.modal-close, .modal-open) {
            display: none;
        }
    }

    // .search-block__results

    &__results {
        overflow-y: auto;
        max-height: 80vh;
        padding-bottom: 75px;
        margin-right: 4px;
        &::-webkit-scrollbar {
            width: 2px;
        }
    
        &::-webkit-scrollbar-track {
            background-color: $border;
            width: 2px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #999;
        }
    }
    

    // .search-block__show-more

    &__show-more {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 75px;
        background-color: $grey3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .search-block__show-more-btn

    &__show-more-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 274px;
        height: 48px;
        border-radius: 10px;
        color: $white;
        background-color: $black;
        &:hover, &:focus{
            background-color: $green;
            color: $white;
        }
    }
    // .search-block__wrapper

    &__wrapper {
        flex: 1 1 auto;
        width: 400px;
        max-width: 660px;
        margin-right: auto;
    }
}

.search-results {

    // .search-results__categories

    &__categories {
        padding: 32px 32px 0;
    }

    // .search-results__title

    &__title {
        font-size: 16px;
        font-weight: 700;
    }

    // .search-results__category

    &__category {
        height: 50px;
        border-bottom: 1px solid $border;
    }

    // .search-results__category-link

    &__category-link{
        display: flex;
        align-items: center;
        height: 100%;
        transition: .3s ease;
        &:hover, &:focus{
            color: $red1;
        }
    }

    // .search-results__category-img

    &__category-img {
        margin-right: 12px;
    }

    // .search-results__sections

    &__sections {
        padding: 32px 32px 0;
    }

    // .search-results__products

    &__products {
        padding-top: 32px;
    }
    
    // .search-results__product

    &__product {
        position: relative;
        height: 64px;

        &::after{
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $border;
        }
    }

    // .search-results__product-link

    &__product-link {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        padding-right: 32px;
        transition: backgroud-color 0.3s ease;
        &:hover, &:focus{
            background-color: $grey4;
        }
    }

    // .search-results__product-img

    &__product-img {
        flex: 0 0 auto;
        height: 42px;
        width: 42px;
        margin: 0 16px 0 32px;
        overflow: hidden;

        & img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .search-results__product-description

    &__product-description {
        white-space: nowrap;
        overflow: hidden;
        flex: 1 1 auto;
    }

    // .search-results__product-price

    &__product-price {
        white-space: nowrap;
        font-size: 16px;
        font-weight: 700;
        color: $dark;
    }
}


.info-icon {

		// .info-icon_default-state

		&_default-state {
		}

		// .info-icon_hover-state

		&_hover-state {
            display: none;
		}
}
.account-menu {
		// .account-menu__bonus

		&__bonus {
            display: flex;
            align-items: center;
            padding: 0 7px;
            width: 100%;
            height: 36px;
            border-radius: 7px;
            background-color: $grey3;
            overflow: hidden;
		}

		// .account-menu__bonus-text

		&__bonus-text {
            margin-left: 4px;
            white-space: nowrap;
		}

		// .account-menu__bonus-value

		&__bonus-value {
            font-weight: 600;
            margin-left: 4px;
		}

		// .account-menu__links

		&__links {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 14px;
            padding: 0 6px;
		}

		// .account-menu__link

		&__link {
            color: $dark;
            line-height: 16px;
            transition: .3s ease;
            &:hover{
                color: $red1;
            }
		}
}
.animated-translate-link{
    
    display: flex;
    position: relative;
    overflow: hidden;
    height: 19px;
    line-height: 19px;

        &:hover span, &:focus span {
            transform: translateY(100%);
        }
        & span {
            position: relative;
            transition: all 0.35s ease;
        }

        &:hover::before, &:focus::before {
            transform: translateY(100%);
        }
        &::before {
            content: attr(data-title);
            position: absolute;
            bottom: 100%;
            left: 0;
            white-space: nowrap;
            transition: all 0.35s ease;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
}
.header-bot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -32px;
    display: flex;
    background-color: $white;
    height: 32px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    z-index: 98;
    transition: bottom 0.3s ease;

		// .header-bot__wrapper

		&__wrapper {
            display: flex;
		}

		// .header-bot__links

		&__links {
            display: flex;
            gap: 26px;
			// .header-bot__links_wrap

			&_wrap {
                display: flex;
                align-items: center;
			}
		}

		// .header-bot__link

		&__link {
		    color: $dark;
            font-weight: 600;
		
		    // .header-bot__link_red
		    &_red {
                color: $red;
            }
	    }
    &_hidden{
        bottom: 0;
        transition: bottom 0.3s ease;
    }
}

.menu-modal{
    position: fixed;
    overflow: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 100%;
    width: 100vw;
    background-color: $white;
    z-index: 97;
    
    &:not(.modal-close, .modal-open) {
        display: none;
    }
}
.menu-mobile {
    
    overflow: hidden;

    // .menu-mobile__location

    &__location {
        position: sticky;
        display: flex;
        top: 0;
        background-color: $dark;
        color: $white;
        font-size: 16px;
        line-height: 22px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 28px 22px 22px;
        margin-bottom: 29px;
        z-index: 97;
    }

    // .menu-mobile__location-link

    &__location-link {
    }

    // .menu-mobile__location-city

    &__location-city {
        position: relative;
        margin-left: 16px;
        margin-right: 8px;
        &::after{
            position: absolute;
            content: "";
            bottom: 3px;
            width: 100%;
            height: 1px;
            left: 0;
            background-color: $white;
        }
    }

    // .menu-mobile__tabs

    &__tabs {
        position: relative;
        display: flex;
        width: auto;
        height: 41px;
        border: 2px solid $grey1;
        border-radius: 20px;
        margin: 0 20px 32px;
        padding: 2px;
        
    }
    // .menu-mobile__tabs-toggle

    &__tabs-toggle {

        position: absolute;
        content: "";
        width: calc(50% - 2px);
        top: 0;
        height: calc(100% - 4px);
        margin: 2px 0;
        background-color: #333333;
        border-radius: 16px;
        transition: all 0.3s ease;
        z-index: 95;
        
    }

    // .menu-mobile__tabs-item

    &__tabs-item {
        position: relative;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px;
        border-radius: 15px;
        z-index: 96;
        &_active{
            color:$white;
        }
        
    }

    // .menu-mobile__sections-wrapper

    &__sections-wrapper {
        display: flex;
        width: 200%;
        transition: transform .3s ease;
    }

    // .menu-mobile__section

    &__section {
        width: 100vw;
        overflow: hidden;

        // .menu-mobile__section_catalog

        &_catalog {
        }

        // .menu-mobile__section_brands

        &_brands {
            
        }
    }
}
.catalog-mobile {

    // .catalog-mobile__items

    &__items {
        height: auto;
        min-height: 1200px;
        position: relative;
        z-index: 97;
    }

    // .catalog-mobile__item

    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        font-size: 16px;
        color:$dark
    }

    // .catalog-mobile__item-img

    &__item-img {
        height: 100%;
        width: 52px;
        padding: 2px;
        border-radius: 10px;
        margin-right: 18px;
        background-color: $grey5;
        & img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.menu-mobile {

    // .menu-mobile__brands-slider

    &__brands-slider {
        height: 38px;
        margin-bottom: 32px;
    }

    // .menu-mobile__brands-slider-wrapper

    &__brands-slider-wrapper {
        padding-left: 20px;
    }

    // .menu-mobile__brands-slider-side

    &__brands-slider-side {
        height: 100%;
        width: 98px !important;
        filter: grayscale(1);
        margin-right: 8px;
    }

    // .menu-mobile__brands-slider-link

    &__brands-slider-link {
        height: 100%;
        width: 100%;
        display: flex;
        padding: 9px;
        background-color: $grey3;
        border-radius: 7px;
        overflow: hidden;
        box-sizing: border-box;
    }

    // .menu-mobile__brands-slider-img

    &__brands-slider-img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    // .menu-mobile__brands-title

    &__brands-title {
        font-size: 24px;
        font-weight: 600;
        // .menu-mobile__brands-title_letter

        &_letter {
            font-weight: 700;
        }
    }

    // .menu-mobile__brands-letter-slider

    &__brands-letter-slider {

        margin: 26px 0 36px;
    }

    // .menu-mobile__brands-letter-wrapper

    &__brands-letter-wrapper {
        padding-left: 20px;
    }

    // .menu-mobile__brands-letter-slide

    &__brands-letter-slide {
        display: inline-block;
        width: 32px !important;
        line-height: 20px;
        text-align: center;
        border-radius: 16px;
        margin-right: 12px;
        background-color: #f2f3f5;
        color: #333;
        transition: .3s ease;
        &.active{
            background-color: $dark;
            color: $white;
        }
    }

    // .menu-mobile__brands-items

    &__brands-items {
        margin-left: 20px;
    }

    // .menu-mobile__brands-item

    &__brands-item {
        display: none;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid $grey3;
        padding-left: 12px;
        &_active{
            display: flex;
        }
    }

    // .menu-mobile__brands-link

    &__brands-link {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }
}
.catalog-mobile {

    // .catalog-mobile__btn-back

    &__btn-back {
        flex: 0 0 auto;
        width: 60px;
        height: 36px;
        background: $grey5;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 9px 20px auto auto;
    }
    // .catalog-mobile__container

    &__container {
        position: relative;
    }

    // .catalog-mobile__navigation-window

    &__navigation-window {
        position: absolute;
        left: 0;
        transform: translateX(100%);
        width: 100%;
        top: 0;
        bottom: 0;
        background-color: #fff;
        transition: transform .3s ease;
        transition-delay: .3s;

        &_active{
            transform: translateX(0);
        }
    }

    // .catalog-mobile__subcategories

    &__subcategories {

        padding-left: 20px;
        z-index: 100;

        // .catalog-mobile__subcategories_types

        &_types {
            padding-left: 20px;
            z-index: 101;
        }
    }

    // .catalog-mobile__subcategories-head

    &__subcategories-head {
        display: flex;
        margin-bottom: 36px;
    }

    // .catalog-mobile__subcategories-title
    // .catalog-mobile__type-title

    &__subcategories-title,
    &__type-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 45px;
        color: $dark;
    }

    // .catalog-mobile__subcategories-list

    &__subcategories-list {
    }

    // .catalog-mobile__subcategories-item

    &__subcategories-item {
        display: flex;
        height: 50px;
        padding-right: 20px;
        align-items: center;
        border-bottom: 1px solid $grey3;
    }

    // .catalog-mobile__subcategories-container

    &__subcategories-container {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    // .catalog-mobile__subcategories-link

    &__subcategories-link {
        font-size: 16px;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    
}
.menu-main {
    display: flex;
    height: 100%;
    overflow: hidden;

    // .menu-main__caterories-wrapper

    &__caterories-wrapper {
        flex: 0 0 auto;
        width: 322px;
        padding-top: 32px;
        height: 100%;
        overflow-y: auto;
    }

    &__caterories-wrapper,
    &__subcategories-wrapper,
    &__brands-wrapper {
        padding-bottom: 36px;
        &::-webkit-scrollbar-track {
            margin-top: 36px;
        }
    }

    // .menu-main__subcategories-wrapper

    &__subcategories-wrapper {
        flex: 1 1 auto;
        width: 500px;
        height: 100%;
        padding: 32px 36px 0;
        overflow-y: auto;
        
        
    }

	// .menu-main__subcategories-item

	&__subcategories-item {

	}
	// .menu-main__subcategories-title

	&__subcategories-title {
        font-size: 14px;
        font-weight: 700;
        line-height: 30px;
	}


    // .menu-main__brands-wrapper

    &__brands-wrapper {
        flex: 0 0 auto;
        width: 136px;
        height: 100%;
        padding-top: 52px;
        overflow-y: auto;
    }

	// .menu-main__brands-list

	&__brands-list {
        margin: 0 8px;
	}
	// .menu-main__brands-item

	&__brands-item {
        display: flex;
        width: 120px;
        height: 120px;
        border-radius: 10px;
        overflow: hidden;
        background-color: $grey3;
        margin-bottom: 26px;
	}
	// .menu-main__brands-link

	&__brands-link {
        width: 100%;
        height: 100%;
        padding: 10px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
	}

    &__subcategories-section{
        display: none;
        &_active{
            display: block;
        }
    }

}

.catalog-main {

    // .catalog-main__items

    &__items {
        padding-left: 6px;
        margin-left: -6px;
        margin-right: 36px;

    }

    // .catalog-main__item

    &__item {
        position: relative;
        width: 100%;
        height: 55px;
        border-bottom: 1px solid $grey5;
        // transition: all .3s ease;
        &:hover, &:focus-within {
            color: $red;
        }
        &::after{
            position: absolute;
            content: "";
            height: 40px;
            top: calc((100% - 40px) / 2);
            width: 100%;
            left: 0;
            transition: all .3s ease;
        }
        &:hover::after, &:focus-within::after{
            width: calc(100% + 36px);
            height: calc(100% + 2px);
            top: -1px;
            left: 0;
            border-radius: 5px;
            background-color: #f5f5f5;
            z-index: -1;
        }

        // .catalog-main__item_active

        &_active{
            color: $red;
            &::after{
                width: calc(100% + 36px);
                height: calc(100% + 2px);
                top: -1px;
                left: 0;
                border-radius: 5px;
                background-color: #f5f5f5;
                z-index: -1;
            }
        }
    }

    // .catalog-main__link
    &__link {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    // .catalog-main__item-img

    &__item-img {
        width: 40px;
        height: 40px;
        border-radius: 7px;
        padding: 5px;
        margin: 0 20px 0 2px;
        background-color: $grey3;
        & img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.subcategory {
    width: calc((100% - 200px) / 3);
    height: auto;
    margin-bottom: 16px;
    // .subcategory__title

    &__link {
        display: flex;
        align-items: flex-end;
        height: 45px;
        padding: 2px 4px;
        border-bottom: 1px solid $grey5;
        transition: all .3s ease;
        &:hover, &:focus-within {
            color: $red;
        }
    }

    // .subcategory__icon

    &__icon {
        flex: 0 0 auto;
        width: 52px;
        height: 40px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .subcategory__list-types

    &__list-types {
        padding: 0 4px;
        margin-top: 8px;
    }

    // .subcategory__types-title

    &__types-title {
        line-height: 30px;
        color: $dark;
        transition: all .3s ease;
        &:hover, &:focus-within{
            color: $red;
        }
    }
    
}
.btn-back-animation{
    animation: mobile-catalog-btn-animation .3s ease forwards;
}

@media screen and (max-width: 600px) {
    .header-main{
        
        height: 44px;
        &__logo{
            
            width: 98px;
        }
        &__search-btn{
            &_mobile{
                & img{
                    height: auto !important;
                }
            }
        }
        &__account-link{
            &_mobile img{
                height: auto !important;
            }
        }
        &__link-img{
            height: auto !important;
        }
   }
   .search-block{
        &__modal{
            top: 44px;
        }
        &__results{
            height: calc(100vh - 44px);
        }
    }
    .burger-btn{
        &__icon{
            &::before{
                top: 7px;
            }
            &::after{
                bottom: 7px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .header-main{
        background-color: $black;
        &__logo{
            color: $white;
        }
        &__search-btn{
            &_mobile{
                display: block;
                & img{
                    height: 24px;
                }
            }
        }
        &__account-link{
            &_mobile img{
                height: 24px;
            }
        }
        &__link-item_cart img{
            height: 24px;
        }
        &__products-counter{
            display: none;
        }
    }
     // .page-top-block__title
    .page-top-block{
        &__title{
            font-size: 18px;
            line-height: 26px;
        }
    }
    .search-block{
        max-width: 100vw;
        background-color: $black;
        border: none; 
        &:hover, &:target{
            border: none;    
        }
        &__btn-text{
            display: block;
        }
        &__btn-img{
            display: none;
        }
        &.active{
            border: none; 
            & .search-block__btn-img{
                display: none;
            }
            & .search-block__btn-text{
                display: block;
            }
        }
        &__modal{
            position: fixed;
            width: 100vw;
            top: 60px;
            box-shadow: none;
            border-radius: 0;
        }
        &__results{
            height: calc(100vh - 60px);
            max-height: 100vh;
        }
        &__wrapper{
            visibility: hidden;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            height: 60px;
            width: 100vw;
            max-width: 100vw;
            z-index: 100;
            padding: 10px 20px;
            background-color: #0c1111;
        }
    }
    .burger-btn{
        max-width: 40px;
        order: -1;
        &__icon{
            height: 2px;
            width: 32px;
            border-radius: 1px;
            &::before, &::after{
                height: 2px;
            }
            &::before{
                top: 7px;
            }
            &::after{
                bottom: 7px;
            }
        }
    }
}
@media screen and (min-width: 768px){
    .header-main{
        &__search-btn{
            &_mobile {
                & img{
                    height: 24px;
                }
            }
        }
        
    }
    .burger-btn{

        &__icon {
            width: 26px;
            height: 2px;
            &::before{
                top: 8px;
            }
            &::after{
                bottom: 8px;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .burger-btn{
        width: 48px;
        &__icon{
            background-color: #fff;
            margin: 0;
        }
        &__text{
            display: none;
        }
    }
    .header-main{
        &__wrapper{
            padding: 0 10px;
            &:first-child{
                margin-left: 10px;
            }
        }
        &__account-container{
            order: 1;
            margin-right: 0;
        }
        &__account-link{
            display: none;
            &_mobile{
                padding: 0 10px;
            }
        }
        &__account-btn{
            display: flex;
            align-items: center;
            background-color: transparent;
        }
        &__link-item{
            flex-direction: unset;
            &_orders{
                display: none;
            }
            &_cart {
                & a{
                    padding: 0 10px;
                }
                & #cart-quantity{
                    top: 0;
                    right: -4px;
                }
            }
        }
        &__link-img{
            width: auto;
            height: auto;
            margin: 0;
        }
        &__link-items{
            margin: 0 16px;
            padding-top: 0;
        }
        &__link-title{
            display: none;
        }
        &__info-block{
            display: none;
        }
        &__account-menu{
            display: none;
        }
        
    }
    .menu-main{
        display: none;
    }
}
@media screen and (min-width: 993px) {
    .burger-btn{
        &__icon{
            width: 16px;
            height: 16px;
            &::after{
                bottom: 2px;
            }
            &::before{
                top: 5px;
            }
            &.close{
                top: 0px;
            }
        }
    }
    .header-main{
        
        &__link-item{
            &_mobile{
                display: none;
            }
        }
        
    }
    .menu-mobile{
        display: none;
    }
    
}
@media screen and (max-width: 1023px) {
    .header{
        top: 0;
    }
   .header-top, .header-bot{
        display: none;
   }
}
@media screen and (min-width: 1024px){
    .header-main{
        &__link-item{
            &:hover, &:focus{
                color: $red;
                &  img {
                    filter: invert(20%) sepia(70%) saturate(4000%) hue-rotate(360deg) brightness(90%) contrast(100%);
                }
            }
        }
        &__account-link{
            &_mobile{
                display: none;
            }
        }
    } 
    // .page-top-block
    .page-top-block {
        padding-top: 32px;

        // .page-top-block__title-container
   
       &__title-container {
           display: flex;
           padding: 40px 0 56px;
       }
   
       // .page-top-block__breadcrumbs
   
       &__breadcrumbs {
           display: block;
           margin-top: 24px;
       }
    }
}
@media screen and (max-width: 1180px) {
    .header-main{
         &__logo{
             max-width: 154px;
         }
    }
    .menu-main{
         &__brands-wrapper{
            display: none;
         }
    }
    .burger-btn{
        // width: 110px;
    }
    
   
}
@media screen and (min-width: 1180px) {
}
@media screen and (max-width: 1280px) {
    .header-main{
        &__link-item{
            &_compare, &_favorites{
                display: none;
            }
        }
        &__info-item{
            display: none;
        }
        
    }
    .header-top-info{
        &__btns{
            display: none;
        }
    }
    .subcategory{
        width: calc((100% - 72px - 20px) / 3);
    }
}
@media screen and (max-width: 1364px) {
    .header-shops {
        display: none;
    }
}
@media screen and (max-width: 1440px) {
    .header-main{
        &__logo{
            margin-right: 24px;
        }
   }
   
   .subcategory {
    width: calc((100% - 100px) / 2);
   }
}
@media screen and (min-width: 1440px) {
    .menu-main{
        &__subcategories-wrapper{
            padding-left: 26px;
            padding-right: 50px;
        }
    }
}
